[Desktop Entry]
Version=1.0
Type=Application
Name=Dwm
Comment=Lightweight X11 tiled window manager written in C.
Exec=dwm
Icon=dwm
Terminal=false
StartupNotify=false
Categories=Application;
